ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: beige;
  box-shadow: midnightblue;
  color: white;
  margin-bottom: 2rem;
  padding: 1rem 1rem;
}

.navBar button {
  background: transparent;
  border: 2px solid midnightblue;
  text-align: center;
  color: midnightblue;
  margin-right: 100%;
  padding: 0.5rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: midnightblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
