ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgba(245, 245, 220, 0.618);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;
  margin-bottom: .5rem;
  padding: 1rem 1rem;
}

.navBar button {
  width:255px;
  height:40px;
  text-align:center;
  line-height:.5em;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-size: 1em;
  border-radius: 8px;
  min-width:30px;
  color: midnightblue;
  border: 2px solid midnightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin: .5em;
}

.navBar button:hover {
  background: midnightblue;
  color: ghostwhite;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
  line-height:2.5em;
  font-size: 1.7em;
  color: midnightblue;
}
